*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/gradle
/swipeback/build
/app/build
/**/build
/**/libs
/**/jniLibs
/**.so
/**.jar
**.apk
**.jar
**.so
image